body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 80%;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    font-size: 14px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #0073e6;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 48%;
    border-radius: 8px;
}

button:hover {
    background: #005bb5;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ccc;
    padding: 10px;
}

th {
    background: #eee;
}

#loader {
    display: none;
    /* By default hidden */
    text-align: center;
    margin: 20px 0;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    display: inline-block;
    vertical-align: middle;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #555;
    }
